.rsc-container {
  height: inherit;
  position: relative;
  line-height: 0;
}

.rsc-tooltips {
  padding: 6px 10px;
  position: absolute;
  border-radius: 4px;
  visibility: hidden;
  background: #fff;
  box-shadow: 0 6px 30px rgba(228, 231, 238, 60%);
  transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s,
    top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  pointer-events: none;
  white-space: nowrap;
}

.rsc-tooltips::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  border-radius: 2px 0;
  transform: rotate(45deg);
  background: inherit;
}

.rsc-tooltips-title {
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4d535c;
}

.rsc-tooltips-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 17px;
}

.rsc-tooltips-list-item {
  display: flex;
  align-items: center;
}

.rsc-tooltips-list-item::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 4px;
  background: currentcolor;
}

.rsc-tooltips-list-item + .rsc-tooltips-list-item {
  margin-top: 10px;
}

.rsc-tooltips-label {
  color: #4d535c;
}

.rsc-tooltips-val {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #1f242e;
}
